

<div class="col-md-12 column">
  <h2>
    Create New Wasted Hours For <%=  @today_date %>
  </h2>
  <p>
    Create a new Wasted Hour Record
  </p>

  <%= form_tag({ :controller => :wasted_hours, :action => :index },
               method: 'get', class: 'form-horizontal') do %>

      <div class="form-group">
        <%= label_tag('todayDate',"Today's Date:",class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= date_field_tag('date', 'todayDate',value: @today_date) %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('problemCategory','Problem Category:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <select name="problemCategory" id="problemCategory" required="required">
            <option name="problemCategory"  id="problemCategory-1" value="Alfred">
              Alfred
            </option>
            <option name="problemCategory"  id="problemCategory-2" value="Jenkins">
              Jenkins
            </option>
            <option name="problemCategory"  id="problemCategory-3" value="Build Failure">
              Build Failure
            </option>
            <option name="problemCategory" id="problemCategory-4" value="Dev Environment">
              Dev Environment
            </option>
            <option name="problemCategory" id="problemCategory-5" value="Training / Questions">
              Training / Questions
            </option>
            <option name="problemCategory" id="problemCategory-6" value="Meeting">
              Meeting
            </option>
            <option name="problemCategory" id="problemCategory-7" value="VPN / Connection">
              VPN / Connection
            </option>
            <option name="problemCategory" id="problemCategory-8" value="Escalation">
              Escalation
            </option>
            <option name="problemCategory" id="problemCategory-9" value="Other">
              Other
            </option>
          </select>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('numberOfEmployee','Number of Employees Affected:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= number_field_tag 'numberOfEmployee', 1, in: 1..100 %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('numberOfHours','Number of Hours Wasted:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= number_field_tag 'numberOfHours', 0.25, in: 0..8,step: 0.25 %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('description','Description:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= text_area_tag('description','',class: 'form-control',id: 'description') %>
        </div>
      </div>

      <%= submit_tag('Create',{:class => 'btn btn-success btn-lg'}) %>
      &nbsp;
      &nbsp;
      &nbsp;
      <%= link_to 'Cancel',
                  { controller:'wasted_hours', action:'index'},
                  { class: 'btn btn-danger btn-lg' } %>
  <% end %>
</div>

