

<div class="col-md-12 column">
  <h2>
    Create New Wasted Hours For <%=  @today_date %>
  </h2>


  <%= form_tag({ :controller => :wasted_hours, :action => :process_new_form },
               method: 'get', class: 'form-horizontal') do %>

      <div class="form-group">
        <%= label_tag('problemCategory','Problem Category:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <select name="problemCategory" id="problemCategory" required="required">
              <%  @problems.each do |value| %>
                  <option value=<%= "#{value}" %>><%= "#{value}" %></option>
              <% end %>
          </select>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('numberOfEmployee','Number of Employees Affected:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= number_field_tag 'numberOfEmployee', 1, in: 1..100 %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('numberOfHours','Number of Hours Wasted:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= number_field_tag 'numberOfHours', 0.25, in: 0..8,step: 0.25 %>
        </div>
      </div>

      <div class="form-group">
        <%= label_tag('description','Description:',class: 'col-sm-2 control-label') %>
        <div class="col-sm-10">
          <%= text_area_tag('description','',class: 'form-control',id: 'description') %>
        </div>
      </div>

      <%= submit_tag('Create',{:class => 'btn btn-success btn-lg'}) %>
      &nbsp;
      &nbsp;
      &nbsp;
      <%= link_to 'Cancel',
                  { controller:'wasted_hours', action:'index'},
                  { class: 'btn btn-danger btn-lg' } %>
  <% end %>
</div>

